#menu-center-btn {
    position: fixed;
    background-color: #000000;
    height: inherit;
    margin: 0;
    padding: 0;
    border-width: 5px;
    border-radius: 50%;
    z-index: 1001;
}

#menu-btn:active {
    background-color: #5239ba;
}

.answer-btn {
    padding: 0px;
    margin: 0px;
    height: 50%;
    width: 50%;
    z-index: 1000;
}

#answer-btn1 {
    /* TODO : background-image */
    text-align: left;
}

#answer-btn2 {
    /* TODO : background-image */
    float: right;
    text-align: right;
}

#answer-btn3 {
    /* TODO : background-image */
    text-align: left;
}

#answer-btn4 {
    /* TODO : background-image */
    float: right;
    text-align: right;
}