#field-div {
    position: relative;
    height: 100%;
}
#images-div {
    position: relative;
    height: 80%;
    width: 100%;
}
#color-image-div {
    position: fixed;
    background-color: #ffffff;
    height: inherit;
    width: inherit;
    opacity: 0;
}

#color-image {
    position: fixed;
    width: inherit;
    height: auto;
}

#black-white-image-div {
    position: fixed;
    background-color: #ffffff;
    height: inherit;
    width: inherit;
}

#black-white-image {
    position: fixed;
    width: inherit;
    height: auto;
}

#answers-div {
    position: relative;
    height: 20%;
}