#lost-div {
    position: absolute;
    display: none;
    opacity: 0;
    width: 200px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 3px #ffffff;
}

#lost-div p {
    text-align: center;
    font-family: Calibri;
    font-size: 25pt;
}

#overlay-div {
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    width: 0px;
    height: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}       

#menu-div {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
}

.menu-btn {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 45%;
    height: auto;
    border: 0;
    color: #ffffff;
}

#new-game-btn {
    background-color: #00de00;
    background-image: url("../images/buttons/new_game.png");
    float: left;
}

#new-game-btn:active {
    background-color: #07a707;
}

#restart-game-btn {
    background-color: #009f3c;
    background-image: url("../images/buttons/restart_game.png");
    float: left;
}

#resart-game-btn:active {
    background-color: #066b2c;
}

#bundles-btn {
    background-color: #008b8e;
    background-image: url("../images/buttons/bundles.png");
    float: right;
}

#bundles-btn:active {
    background-color: #016062;
}

#shop-btn {
    background-color: #019601;
    background-image: url("../images/buttons/shop.png");
    float: left;
}

#shop-btn:active {
    background-color: #066806;
}