#lost-div {
    position: absolute;
    background-color: #000000;
    border-color: #ffffff;
    border: 1px;
    opacity: 0;
    width: 200px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#lost-div p {
    text-align: center;
    font-family: Calibri;
    font-size: 25pt;
}